.filter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.4;
    z-index: 2;
    display: none;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 20px;
    z-index: 3;
    display: none;
}

.modal-close{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 30px;
    height: 30px;
}

.modal-close img{
    width: 30px;
    height: 30px;
}

.modal-body{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 56px;
}

.modal-body > div{
    width: 50%;
}

.modal-body > div > div > input{
    background-color: rgba(204, 204, 204, 0.251);
    padding: 12px 20px;
    margin: 20px 0;
    width: 100%;
    border: none;
}

.modal-body textarea{
    background-color: rgba(204, 204, 204, 0.251);
    padding: 12px 20px;
    margin: 20px 0;
    width: 100%;
}

.modal-body_learning_checkbox {
    vertical-align: middle;
    font-size: 20px;
}

.modal-body_learning label{
    display: inline-block;
    margin: 8px;
    padding: 8px;
    background-color: rgba(204, 204, 204, 0.251);
    border-radius: 8px;
}


.modal-button{
    text-align: center;
}

.modal-button button{
    width: 50%;
    background-image: linear-gradient(to right, #12d9e0, #0086f3);
    color: #fff;
    padding: 12px 40px;
    border-radius: 12px;
    border: none;
}