@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");
.main {
  width: 95vw;
  margin: 0 auto;
  position: relative;
}

.bar {
  background-color: white;
  height: 22%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.btn {
  position: relative;
  text-align: center;
  margin: 10px 0;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(to right, #eb772b, #f64a15);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 5px;
}

.btnRecord {
  text-align: center;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(to right, #eb772b, #f64a15);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 12px;
  width: 100%;
}

.return-btn {
  padding: 5px;
  border-radius: 10px;
  width: 15%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to left, #eb772b, #f64a15);
  color: white;
  position: fixed;
  bottom: 5%;
  left: 10%;
}

.closeBtn {
  display: none;
}

.date {
  text-align: center;
}
.date p {
  font-weight: 900;
}
.date span:nth-child(1) {
  margin-right: 5px;
  color: #0f71bc;
  font-weight: 900;
}
.date span:nth-child(2) {
  margin-left: 5px;
  color: #97b9d1;
}
.date select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  font-weight: 900;
  padding: 5px;
  width: 30%;
  border-radius: 10px;
  -color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  background-image: url(img/iconmonstr-angel-down-circle-thin-240.png);
  background-position: right 5px center;
  background-size: 20px 20px;
  cursor: pointer;
}

.before {
  position: fixed;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
}
.before img {
  width: 50px;
  height: 50px;
}

.after {
  position: fixed;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
}
.after img {
  width: 50px;
  height: 50px;
}

.circle {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
.circle .circleBox {
  width: 48%;
  height: 35%;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.circle p {
  font-weight: 900;
}
.circle svg {
  margin-top: -30px;
  transform: scale(0.8);
}

.circle-language {
  position: relative;
}
.circle-language li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.circle-language li::before {
  content: ""; /* 空の要素作成 */
  width: 10px; /* 幅指定 */
  height: 10px; /* 高さ指定 */
  display: inline-block; /* インラインブロックにする */
  background-color: #f44336;
  border-radius: 50%; /* 要素を丸くする */
}
.circle-contents {
  position: relative;
}
.circle-contents li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.circle-contents li::before {
  content: ""; /* 空の要素作成 */
  width: 10px; /* 幅指定 */
  height: 10px; /* 高さ指定 */
  display: inline-block; /* インラインブロックにする */
  background-color: #f44336; /* 背景色指定 */
  border-radius: 50%; /* 要素を丸くする */
}

.graphText,
.graphText2 {
  display: block;
  position: absolute;
  top: 65%;
  font-size: 10px;
  margin-left: 10px;
  line-height: 2;
  margin-top: 10px;
}

.legend:nth-of-type(1)::before {
  background-color: #ff2400;
}

.legend:nth-of-type(2)::before {
  background-color: #ff4500;
}

.legend:nth-of-type(3)::before {
  background-color: #ff6347;
}

.legend:nth-of-type(4)::before {
  background-color: #ff8c00;
}

.legend:nth-of-type(5)::before {
  background-color: #ffa500;
}

.legend:nth-of-type(6)::before {
  background-color: #f1a478;
}

.legend:nth-of-type(7)::before {
  background-color: #ffd27d;
}

.legend:nth-of-type(8)::before {
  background-color: #fff380;
}

.legend:last-child::before {
  background-color: #fff8c6;
}

.legend2:nth-of-type(1)::before {
  background-color: #ff2400;
}

.legend2:nth-of-type(2)::before {
  background-color: #ff4500;
}

.legend2:nth-of-type(3)::before {
  background-color: #ff6347;
}

.legend2:nth-of-type(4)::before {
  background-color: #ff8c00;
}

.legend2:last-child::before {
  background-color: #ffa500;
}

.img {
  height: 8vh;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  background-color: #fff;
  display: flex;
  height: 10vh;
  line-height: 70px;
  align-items: center;
}
header .logo {
  display: flex;
  gap: 20px;
}
header .img {
  height: 8vh;
  -o-object-fit: cover;
     object-fit: cover;
}
header p {
  margin-left: 10px;
}
header section {
  display: none;
}

.hour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}
.hour .hourBox {
  width: 28%;
  height: 12vh;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  position: relative;
}
.hour .hourBox h3 {
  color: rgba(230, 115, 48, 0.8);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hour .hourBox h3:nth-of-type(2) {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hour .hourBox h2 {
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  width: 95vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  transform: translateY(100%);
  background-color: #fff;
  border-radius: 20px;
  z-index: 9;
  transition: transform 0.5s;
  padding: 15px;
}
.modal > div {
  margin: 20px 0;
}
.modal > div > div {
  margin-bottom: 10px;
}
.modal img {
  width: 30px;
  height: 30px;
}
.modal input {
  background-color: #f5f5f8;
  width: 95%;
  padding: 5px;
}
.modal textarea {
  background-color: #f5f5f8;
  width: 95%;
}
.modal label {
  background-color: #f5f5f8;
  padding: 2px;
  margin: 10px 2px;
  border-radius: 10px;
  margin: 0px;
}
.modal .closeBtn {
  position: absolute;
  top: 2%;
  right: 3%;
  border-radius: 50%;
  cursor: pointer;
}
.modal .closeBtn input {
  width: 40px;
  height: 40px;
}
.modal .closeBtn2 {
  position: absolute;
  top: 2%;
  right: 3%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.modal .error {
  color: red;
  display: none;
}

#loader {
  position: absolute;
  width: 80px; /*ローディングアイコンの横サイズ*/
  height: 80px; /*ローディングアイコンの縦サイズ*/
  border-radius: 50%; /*CSS3で円を書く*/
  border: 12px solid #ee8026; /*円に○の白枠をつける*/
  border-right-color: transparent; /*円の右にC状の空きをつける*/
  z-index: 55;
  top: 40%;
  left: 46%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}

.inview {
  opacity: 1;
  -webkit-animation: spin 1.2s linear 3;
          animation: spin 1.2s linear 3; /*1秒毎にくるくる回転するアニメーション*/
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  } /*0%の時は20％の透明度*/
  50% {
    transform: rotate(180deg);
    opacity: 1;
  } /*50%の時は透明度なし*/
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  } /*100%の時に20％の透明度に戻る*/
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  } /*0%の時は20％の透明度*/
  50% {
    transform: rotate(180deg);
    opacity: 1;
  } /*50%の時は透明度なし*/
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  } /*100%の時に20％の透明度に戻る*/
}
.end {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
}

.end p {
  font-size: 25px;
}

.fa-check-circle {
  color: greenyellow;
  font-size: 80px;
}

.endText {
  color: greenyellow;
  margin-bottom: -10px;
}

.modalReturn {
  position: absolute;
  width: 95vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  transform: translateY(100%);
  background-color: #fff;
  border-radius: 20px;
  z-index: 9;
  transition: transform 0.5s;
  padding: 15px;
  overflow: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.modalReturn::-webkit-scrollbar {
  display: none;
}
.modalReturn .closeBtn3 {
  position: fixed;
  top: 2%;
  right: 3%;
  border-radius: 50%;
  cursor: pointer;
}
.modalReturn .closeBtn3 img {
  width: 30px;
  height: 30px;
}
.modalReturn .closeBtn3 p {
  color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.choice {
  position: relative;
  width: 70%;
  margin: 0 auto;
  list-style: none;
  border: solid 2px rgba(0, 0, 0, 0.05);
  font-size: 20px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0.5px 0.5px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  background-color: rgba(245, 109, 18, 0.3);
  text-align: left;
  font-size: 18px;
}
.choice .image-con {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}
.choice .image-lan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}
.choice span:nth-of-type(2) {
  position: absolute;
  left: 24%;
  top: 50%;
  transform: translateY(-50%);
}
.choice span:nth-of-type(3) {
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translateY(-50%);
}
.choice span:nth-of-type(4) {
  position: absolute;
  left: 73%;
  top: 50%;
  transform: translateY(-50%);
}
.choice input {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.checkbox-fontas {
  position: relative;
  vertical-align: middle;
  font-size: 20px;
}

.checkbox + .checkbox-fontas:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  color: #ccc;
}

.checkbox:checked + .checkbox-fontas:before {
  color: #1e90ff;
}

.checkbox + .twitterFontas:before {
  font-size: 35px;
}

.select {
  background-color: #f5f5f8;
  padding: 10px;
  cursor: pointer;
}

.trans {
  transform: translateY(0);
}

.block {
  visibility: visible !important;
}

.none {
  visibility: hidden;
}

@media (max-width: 599px) {
  header {
    height: 8vh;
    line-height: 50px;
  }
  .hour {
    margin: 8px 0;
  }
  .circle {
    margin: 8px 0;
  }
  .before img {
    width: 30px;
    height: 30px;
  }
  .after img {
    width: 30px;
    height: 30px;
  }
  .date select {
    background-image: none;
  }
  .return-btn {
    position: absolute;
    bottom: 7%;
    left: 10%;
  }
  .modalReturn .scroll {
    margin-top: 50px;
  }
  .choice {
    position: relative;
    width: 100%;
    margin: 5px auto;
    font-size: 12px;
  }
  .choice .image-con {
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
  }
  .choice .image-lan {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
  }
  .choice span:nth-of-type(2) {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
  }
  .choice span:nth-of-type(3) {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
  }
  .choice span:nth-of-type(4) {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
  }
  .choice input {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .selected {
    width: 92%;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header .logo {
    width: 42%;
  }
  header .btn {
    display: block;
    width: 20%;
    padding: 0;
    margin-right: 20px;
  }
  .main {
    width: 90vw;
    margin: 0 auto;
  }
  .main .data {
    display: flex;
    justify-content: space-between;
  }
  .main article {
    width: 49%;
  }
  .main aside {
    width: 49%;
  }
  .main .hourBox {
    height: 24vh;
    width: 32%;
  }
  .main .bar {
    height: 50vh;
  }
  .main .circle .circleBox {
    height: 76vh;
    width: 48%;
  }
  .main .circle svg {
    margin-top: 50px;
    transform: scale(1.1);
  }
  .main .btn {
    display: none;
  }
  .graphText, .graphText2 {
    font-size: 20px;
    margin-top: -50px;
  }
  .circle-language li::before {
    content: ""; /* 空の要素作成 */
    width: 15px; /* 幅指定 */
    height: 15px; /* 高さ指定 */
  }
  .circle-contents li::before {
    content: ""; /* 空の要素作成 */
    width: 15px; /* 幅指定 */
    height: 15px; /* 高さ指定 */
  }
}
@media (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header .logo {
    width: 42%;
  }
  header .btn {
    display: block;
    width: 20%;
    padding: 0;
    margin-right: 20px;
  }
  .main {
    width: 90vw;
    margin: 0 auto;
  }
  .main .data {
    display: flex;
    justify-content: space-between;
  }
  .main article {
    width: 39%;
  }
  .main aside {
    width: 59%;
  }
  .main .hourBox {
    height: 24vh;
    width: 32%;
  }
  .main .hourBox h2 {
    font-size: 45px;
  }
  .main .hourBox h3 {
    font-size: 25px;
  }
  .main .bar {
    height: 50vh;
  }
  .main .circle .circleBox {
    height: 76vh;
    width: 48%;
    padding: 32px;
  }
  .main .circle svg {
    margin-top: 50px;
    transform: scale(1.1);
  }
  .main .btn {
    display: none;
  }
  .graphText, .graphText2 {
    font-size: 20px;
    margin-top: -50px;
  }
  .circle-language li::before {
    content: ""; /* 空の要素作成 */
    width: 15px; /* 幅指定 */
    height: 15px; /* 高さ指定 */
  }
  .circle-contents li::before {
    content: ""; /* 空の要素作成 */
    width: 15px; /* 幅指定 */
    height: 15px; /* 高さ指定 */
  }
  .main .circle .circleBox {
    height: 76vh;
    width: 48%;
  }
  .main .circle svg {
    margin-top: 50px;
    transform: scale(1.4);
  }
  .modal {
    position: absolute;
    z-index: 3;
    width: 80vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #fff;
    border-radius: 20px;
    z-index: 9;
    transition: transform 0.5s;
    padding: 15px;
  }
  .modal > div {
    margin: 20px 0;
  }
  .modal > div > div {
    margin-bottom: 10px;
  }
  .modal input {
    background-color: #f5f5f8;
    width: 95%;
  }
  .modal textarea {
    background-color: #f5f5f8;
    width: 95%;
  }
  .modal label {
    background-color: #f5f5f8;
    padding: 2px;
    margin: 10px 2px;
    border-radius: 10px;
    margin: 0px;
  }
  .modal .closeBtn {
    position: absolute;
    top: 0%;
    right: 3%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .modal .closeBtn i {
    position: relative;
    width: 25px;
    height: 25px;
    color: black;
    z-index: 999;
  }
  .modal textarea {
    padding: 5px;
  }
  .blacky {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 9;
  }
  .modalReturn {
    position: fixed;
    z-index: 3;
    width: 80vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #fff;
    border-radius: 20px;
    z-index: 9;
    transition: transform 0.5s;
    padding: 15px;
  }
  .modalReturn p {
    color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }
  .trans {
    display: block;
  }
}
.time {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  padding: 40px;
  border-radius: 36px;
  background-image: url(../img/pengin.png);
  background-size: cover;
  z-index: 9;
  display: none;
}

.form {
  width: 100%;
  height: 100%;
}

.form2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer,
.language {
  font-size: 60px;
  text-align: center;
  width: 50%;
  height: 15%;
  display: none;
  font-weight: 800;
  margin: 100px auto;
}

.language,
.content {
  font-size: 16px;
  height: 30%;
  margin: 20px auto;
  text-align: center;
}

.timeRecord {
  display: none;
}

.setTimer {
  font-size: 60px;
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setTimer select {
  width: 30%;
  height: 25%;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  border-radius: 36px;
}

#language,
#content {
  font-size: 16px;
  text-align: center;
  width: 30%;
  display: block;
  margin: 12px auto;
  height: 15%;
  font-weight: 800;
  background-color: orange;
  margin-top: 100px;
}

.startBtn {
  cursor: pointer;
  background-color: orange;
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 12px 20px;
  border: none;
}

.timeRecord {
  cursor: pointer;
  background-color: orange;
  width: 50%;
  padding: 12px 20px;
  border: none;
}

.koron {
  color: #fff;
  /* font-size: 28px; */
}

.pengin {
  width: 15%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.setInput {
  display: flex;
  justify-content: center;
}

.setSelect {
  display: flex;
  justify-content: center;
}

.languageSubmit {
  display: block;
  width: 33%;
  background-color: rgba(255, 166, 0, 0.198);
  margin: 8px 0;
  padding: 4px 12px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.border {
  background-color: rgba(255, 128, 0, 0.652);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.325);
  border-radius: 12px;
  display: inline-block;
  height: 10px;
}

.circle-contents {
  overflow-y: scroll;
  overflow-x: hidden;
}
.circle-contents input {
  border: solid 1px rgba(0, 0, 0, 0.21);
  width: 100%;
  margin: 12px auto;
  padding: 4px;
}
.circle-contents .add {
  display: flex;
  justify-content: space-between;
}
.circle-contents .add button {
  background-color: rgba(255, 123, 0, 0.7);
  color: #fff;
  padding: 4px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.325);
  border-radius: 8px;
}
.circle-contents .add select {
  border: solid 1px rgba(0, 0, 0, 0.21);
  padding: 4px 20px;
}
.circle-contents .add a {
  text-decoration: none;
  color: #fff;
}
.circle-contents .todo {
  margin: 20px auto;
  border-bottom: solid 1px rgba(0, 0, 0, 0.21);
  padding: 12px 0;
}
.circle-contents .todo .image {
  width: 24px;
  height: 24px;
  margin: 0 4px;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
}
.circle-contents .todo a {
  text-decoration: none;
  color: #fff;
}
.circle-contents .todo p {
  font-weight: 400;
  font-size: 12px;
  display: inline;
}
.circle-contents .todo .edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circle-contents .todo .edit .btnEdit {
  background-color: rgba(255, 123, 0, 0.7);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.325);
  padding: 4px 12px;
  border-radius: 4px;
  color: #fff;
}

.language-container {
  display: flex;
  align-items: center;
}
.language-container .image {
  width: 24px;
  height: 24px;
  margin: 0 4px;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  padding: 4px;
}

.circle-language span {
  white-space: nowrap;
}

.circle-language {
  overflow-y: scroll;
  overflow-x: hidden;
}

.bar {
  position: relative;
}

#myBarChart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.done {
  color: #ccc;
}

header .link {
  background-color: rgba(255, 123, 0, 0.331);
  color: #fff;
  padding: 4px 40px;
  border: solid 0.5px orange;
}
header .now {
  background-color: rgba(255, 123, 0, 0.7);
}

.before {
  position: fixed;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
}
.before img {
  width: 50px;
  height: 50px;
}

.after {
  position: fixed;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
}
.after img {
  width: 50px;
  height: 50px;
}

.setting {
  width: 3%;
}

.language-detail {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.language-detail_text {
  width: 50%;
}
.language-detail_rank .order {
  display: flex;
  align-items: center;
  gap: 20px;
}
.language-detail_rank .order img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.language-detail_rank .order span {
  font-size: 28px;
  font-weight: 500;
}

.closeBtn4 {
  position: absolute;
  top: 2%;
  right: 3%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.closeBtn4 img {
  width: 100%;
  height: 100%;
}

.mainCountry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  gap: 30px;
  overflow: hidden;
}
.mainCountry .country {
  width: 30%;
  padding: 100px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 4px #000;
}
.mainCountry .country:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.05);
}

.container {
  padding: 40px;
  margin: 0 auto;
}
.container #pokedex {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}
.container #pokedex .monster {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.container #pokedex .monster .monsterBall {
  width: 80%;
}
.container #pokedex .monster .monsterBall:hover {
  transform: scale(1.2);
}

.pokeform {
  text-align: center;
}
.pokeform .btn {
  padding: 10px 20px;
  background-color: orange;
  cursor: pointer;
  border: none;
}

.monsterSelect {
  transform: translateY(50%) scale(1.2);
  transition: all 1.5s;
}

.yesNo {
  display: none;
}

.training {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.training .up-text {
  font-size: 24px;
  font-weight: 800;
  color: orange;
  text-shadow: 3px 3px 5px #000;
  margin: 20px 0;
}
.training .up-text #timeExp {
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 8px;
}
.training .levelup {
  background-color: orange;
  padding: 24px 80px;
  border-radius: 40px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

.boxMain {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100vw;
  height: 80vh;
}
.boxMain .handle {
  width: 20%;
}
.boxMain .handle h2 {
  display: inline-block;
  color: #fff;
  background-color: rgb(127, 217, 255);
  padding: 8px 12px;
}
.boxMain .handle-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.boxMain .handle-body_container {
  background-color: rgba(127, 217, 255, 0.301);
  width: 100%;
  height: 10vh;
}
.boxMain .box {
  width: 60%;
}
.boxMain .box h2 {
  color: #fff;
  background-color: rgb(127, 217, 255);
  padding: 8px 12px;
  text-align: center;
}
.boxMain .box-body {
  width: 100%;
  height: 90%;
  background-color: rgba(15, 231, 159, 0.24);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.boxMain .box-body .boxPokemon {
  width: 10%;
  -o-object-fit: contain;
     object-fit: contain;
}
.boxMain .featurePokemon {
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
}
.boxMain .featurePokemon-body {
  width: 100%;
  height: 60%;
  background-color: rgba(127, 217, 255, 0.301);
  position: relative;
}
.boxMain .featurePokemon-body .featured {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(10px 16px 6px rgba(0, 0, 0, 0.319));
}

.hand-body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/sword_shield_01.jpeg);
}
.hand-body_title {
  text-align: center;
  color: orange;
  font-size: 32px;
  font-weight: 700;
  padding: 40px;
  font-family: "Lobster", cursive;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.pokemonMain {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.pokemonMain .pokemon {
  padding: 12px;
  width: 45%;
  height: 200px;
  background-color: rgba(133, 245, 215, 0.803);
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  position: relative;
  text-decoration: none;
  color: #000;
}
.pokemonMain .pokemon .hand {
  list-style: none;
  display: flex;
  align-items: center;
}
.pokemonMain .pokemon .hand img {
  width: 35%;
}
.pokemonMain .pokemon:hover {
  outline: 12px solid rgba(227, 156, 63, 0.711);
}
.pokemonMain .pokemon .level span {
  font-size: 20px;
}
.pokemonMain .pokemon .ballIcon {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 10%;
  opacity: 0.7;
}

.line {
  width: 200px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 12px 0;
}
.line .exp {
  background-color: rgb(127, 202, 255);
  height: 100%;
}

.main-menu {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/sword_shield_01.jpeg);
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.menu-item {
  background-color: rgb(255, 172, 7);
  color: #fff;
  font-size: 20px;
  white-space: nowrap;
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 40px 100px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 800;
}
.menu-item img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu-item a {
  text-decoration: none;
  color: #fff;
}/*# sourceMappingURL=style.css.map */