.circle {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  & .circleBox {
    width: 48%;
    height: 35%;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  }
  & p {
    font-weight: 900;
  }
  & svg {
    margin-top: -30px;
    transform: scale(0.8);
  }
}

.circle {
  &-language {
    position: relative;
    & li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline;
      &::before {
        content: ""; /* 空の要素作成 */
        width: 10px; /* 幅指定 */
        height: 10px; /* 高さ指定 */
        display: inline-block; /* インラインブロックにする */
        background-color: #f44336;
        border-radius: 50%; /* 要素を丸くする */
      }
    }
  }
  &-contents {
    position: relative;
    & li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline;
      &::before {
        content: ""; /* 空の要素作成 */
        width: 10px; /* 幅指定 */
        height: 10px; /* 高さ指定 */
        display: inline-block; /* インラインブロックにする */
        background-color: #f44336; /* 背景色指定 */
        border-radius: 50%; /* 要素を丸くする */
      }
    }
  }
}

.graphText,
.graphText2 {
  display: block;
  position: absolute;
  top: 65%;
  font-size: 10px;
  margin-left: 10px;
  line-height: 2;
  margin-top: 10px;
}


.legend:nth-of-type(1)::before {
  background-color: #ff2400;
}
.legend:nth-of-type(2)::before {
  background-color: #ff4500;
}
.legend:nth-of-type(3)::before {
  background-color: #ff6347;
}
.legend:nth-of-type(4)::before {
  background-color: #ff8c00;
}
.legend:nth-of-type(5)::before {
  background-color: #ffa500;
}
.legend:nth-of-type(6)::before {
  background-color: #f1a478;
}
.legend:nth-of-type(7)::before {
  background-color: #ffd27d;
}
.legend:nth-of-type(8)::before {
  background-color: #fff380;
}
.legend:last-child::before {
  background-color: #fff8c6;
}

.legend2:nth-of-type(1)::before {
  background-color: #ff2400;
}
.legend2:nth-of-type(2)::before {
  background-color: #ff4500;
}
.legend2:nth-of-type(3)::before {
  background-color: #ff8c00;
}
.legend2:last-child::before {
  background-color: #ffa500;
}