header{
  display: flex;
  justify-content: space-between;
  
  & .logo{
    width:42%;
  }
  & .btn{
    display: block;
    width: 20%;
    padding: 0;
    margin-right: 20px;
  }
}

.main{
  width: 90vw;
  margin: 0 auto;
  & .data{
    display: flex;
    justify-content: space-between;
  }
  & article{
    width: 49%;
  }
  
  & aside{
    width: 49%;
  }
  & .hourBox{
    height: 24vh;
    width: 32%;
    & h2{
      font-size: 45px;
    }
    & h3{
      font-size: 25px;
    }
  }
  & .bar{
    height: 50vh;
    & #myBarChart{
      padding-top: 50px;
    }
  }
  & .circle{
    & .circleBox{
      height: 76vh;
      width: 48%;
    }
    & svg{
      margin-top: 50px;
      transform: scale(1.1);
    }
  }
  & .btn{
    display: none;
  }
}

.graphText,.graphText2{
  font-size: 20px;
  margin-top: -50px;
}


.circle{
  &-language{
    & li{
      &::before{
        content:  "";     /* 空の要素作成 */
        width:  15px;               /* 幅指定 */
        height:  15px;              /* 高さ指定 */
      }
    }
  }
  &-contents{
    & li{
      &::before{
        content:  "";     /* 空の要素作成 */
        width:  15px;               /* 幅指定 */
        height:  15px;              /* 高さ指定 */
      }
    }
  }
}


.main{
  & .circle{
    & .circleBox{
      height: 76vh;
      width: 48%;
    }
    & svg{
      margin-top: 50px;
      transform: scale(1.4);
    }
  }
}


.modal{
  position: absolute;
  z-index: 3;
  width: 80vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  background-color: #fff;
  border-radius: 20px;
  z-index: 9;
  transition: transform 0.5s;
  padding: 15px;
  & > div{
    margin: 20px 0;
    & > div{
      margin-bottom: 10px;
    }
  }
  & input{
    background-color: #f5f5f8;
    width: 95%;
  }
  & textarea{
    background-color: #f5f5f8;
    width: 95%;
  }
  & label{
    background-color: #f5f5f8;
    padding: 2px;
    margin: 10px 2px;
    border-radius: 10px;
    margin: 0px;
  }
  & .closeBtn{
    position: absolute;
    top: 0%;
    right: 3%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    & i{
      position: relative;
      width: 25px;
      height: 25px;
      color: black;
      z-index: 999;
    }
  }
  & textarea{
    padding: 5px;
  }
}

.trans{
  display: block;
}

.blacky{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 9;
}