.btn {
  position: relative;
  text-align: center;
  margin: 10px 0;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(to right, #12d9e0, #0086f3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
}


.btnRecord {
  text-align: center;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(to right, #12d9e0, #0086f3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 12px;
  width: 100%;
}

.return {
  &-btn {
    padding: 5px;
    border-radius: 10px;
    width: 15%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to left, #eb772b, #f64a15);
    color: white;
    position: fixed;
    bottom: 5%;
    left: 10%;
  }
}